/* Setting a base font size of 10px give us easier rem calculations
     Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
   */
/*desktop version*/

html {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #191d15;
}
body {
  background: #F4F5F2;
  text-align: center;
}
#sub-title{
  font-weight: 600;
  width: 100%;
}
#img-div {
  background-color: #D7CAD1;
  max-width: 100%;
  height: 510px;
  padding: 20px;
}
#img {
  display: block;
  padding: 10px;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}
#img-caption {
  font-size: 15px;
  padding-bottom: 15px;
}
#title {
  width: 100%;
  text-transform: uppercase;
  font-size: 50px;
  margin: 0px;
}
.container h2 {
  font-weight: 400;
  border-bottom: #191d15 solid;
}
.container p {
  margin: 70px auto;
  padding: 0 150px 0 150px;
  line-height: 25px;
  letter-spacing: 2px;
}
#quotes {
  margin: 60px;
}
#footer p {
  margin-top: 100px;
}
a{
  text-decoration: none;
}
a:hover{
  color: #B7BDC1;
}
/*mobile version*/

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
  #image {
    width: 100%;
    margin: auto;
  }
  #main p {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  #tribute-info {
    padding: 0 5rem;
  }
}
